@import '../theme/theme';


.footerContainer {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  align-content: center;
  justify-content: center;
  .footer {
    color: $light;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-bottom: 0.67rem;
    .link:hover {
      color: $quaternary;
    }
  }
}