@import '../theme/theme';


.appBar {
  position: static;

  .toolbar {
    background-color: $bg-dark;
    flex-grow: 1;
    color: $light;

    .brandLink {
      color: $light;
    }

    .nav {
      display: flex;
      flex: 1;
      justify-content: flex-end;

      .link {
        color: $light;
        margin: 0.33rem 0.62rem 0.33rem 0.62rem;
      }

    }

    .button {
      margin: 0.33rem 0.62rem 0.33rem 0.62rem;
    }

  }

}