@import '../theme/theme';

.container {
  margin-top: 4rem;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .grid {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .item {
      padding: 0.5rem;
      margin-top: 1rem;

      .card {
        padding: 1.33rem;

        .content {
          .header1 {
            margin: 0.5rem 0 0 0;
            padding: 0.33rem 0 0.33rem 0;
            color: $text-dark;
            text-align: justify;
          }

          .header2 {
            font-weight: bold;
            color: $text-dark;
            text-align: justify;
            border-bottom: 1px solid $text-light;
          }
        }

        .actions {
          justify-content: center;
          .button {
            width: 70%;
          }
        }

      }

    }

  }

}